*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head{
    display: flex;
    justify-content: center;
}

.con-head{
    width: 1440px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.mdp{
    margin-bottom: 5px;
}

.head-menu{
    display: flex;
    list-style: none;
}

.head-menu li {
    padding: 0 20px;
}

.register-signin{
    display: flex;
    list-style: none;
    
}

.register-signin li{
    list-style: none;
    padding: 0 10px;
    margin: 0 5px;
}

.register{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 92px;
    color: #2f80ed;
    border: 1px solid #2f80ed;
    padding: 30px;
    border-radius: 5px;
}

.signin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 92px;
    color: #ffffff;
    background-color: #2f80ed;
    padding: 30px;
    border-radius: 5px;
}

.aside{
    display: flex;
    justify-content: center;
}

.con-img{
    background-image: url(../testfigma/imgss/Rectangle\ 2.png);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 1240px;
    position: relative;
}

.text-enjoy{
    text-align: center;
    color: #ffffff;
}

.text-enjoy h2{
    margin-bottom: 15px;
}

.search{
    border-radius: 8px;
    background-color: #ffffff;
    width: 1030px;
    height: 64px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: -30px ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-info-1 {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 4px;
    width: 260px;
    height: 43px;
    padding: 0 10px;
}

.search-info-2, .search-info-3 {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 4px;
    width: 170px;
    height: 43px;
    padding: 0 10px;
}

.search-info-4 {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 4px;
    width: 210px;
    height: 43px;
    padding: 0 10px;
}

.search-info-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2F80ED;
    border-radius: 4px;
    width: 148px;
    height: 43px;
    padding: 0 10px;
}

.nav {
    padding: 0 10px;
}

.nav-searth {
    color: #ffffff;
}

.covid-19{
    display: flex;
    justify-content: center;
    align-items: center;
}

.covid-info{
    width: 1240px;
    height: 72px;
    display: flex;
    align-items: center;
    background-color: #FCEFCA;
    padding-left: 20px;
    margin: 80px 0;
    border-radius: 8px;
}

.covid-info p {
    padding-left: 20px;
}

.covid-info a{
    text-decoration: none;
    color: #2F80ED;
}
